<tr class="border-b">
  <td class="py-1">
    {{ form.fahrzeug }}
    {% if form.fahrzeug.errors %}<div class="text-red-600 text-xs">{{ form.fahrzeug.errors|join:", " }}</div>{% endif %}
  </td>
  <td class="py-1">
    {{ form.kilometer }}
    {% if form.kilometer.errors %}<div class="text-red-600 text-xs">{{ form.kilometer.errors|join:", " }}</div>{% endif %}
  </td>
  <td class="py-1">
    {{ form.stunden }}
    {% if form.stunden.errors %}<div class="text-red-600 text-xs">{{ form.stunden.errors|join:", " }}</div>{% endif %}
  </td>
  <td class="py-1">{{ form.erforderlich }}</td>
  <td class="py-1">
    {% if form.non_field_errors %}<div class="text-red-600 text-xs">{{ form.non_field_errors|join:", " }}</div>{% endif %}
    {% if form.instance.pk %}{{ form.DELETE }} löschen{% endif %}
    {{ form.id }}
  </td>
</tr>
